.container{
    width: 100vw;
    height: 100vh;
    min-width: 800px;
}

.box{
    background-color: rgb(225, 255, 245);
    width: 60%;
    aspect-ratio: 16/9;
    min-width: 600px;
    text-align: center;
    position: relative;
}

.title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.input_form{
    width: 100%;
    padding: 0px 20px;
}

.input_box{
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.label{
    max-width: 140px;
    text-align: start;
}

.input{
    width: 75%;
    padding: 2px 5px;
    border-radius: 10px;
}

.underline{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 0, 0);
}

.err{
    color: red;
}

.message{
    color: rgb(0, 193, 0);
}

.button{
    background-color: rgb(159, 159, 159);
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(242, 246, 252);
}

.button:hover{
    opacity: 0.7;
}

.button:active{
    background-color: rgb(83, 83, 83);
}