.calculator_template{
    background-color: rgb(232, 254, 254);
    width: 100%;
    height: 100%;
    min-width: 700px;
    padding-top: 100px;
    box-sizing: border-box;
    justify-content: center;
}

.calculator_frame{
    width: 40%;
    height: 90%;
    min-width: 400px;
    min-height: 500px;
    margin-top: 30px;
    border: 2px solid black;
}

.calculator_screen{
    background-color: white;
    height: 25%;
    border: 1px solid black;
}

.expression{
    height: 50%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    overflow: auto;
    font-size: 20px;
    font-weight: 600;
}

.result{
    width: 100%;
    height: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.calculator_nodes{
    /* background-color: aliceblue; */
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
}

.calculator_node{
    height: 16.7%;
    width: 25%;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 600;
}

.calculator_node .rational{
    width: 8px;
    height: 8px;
    margin: auto;
    border: 1px solid black;
}

.calculator_node .rational:first-child{
    margin-bottom: 2px;
}

.calculator_node:hover{
    background-color: rgb(202, 202, 202);
}

.calculator_node:active{
    background-color: rgb(156, 156, 156);
}

